@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}
